@{
	ViewBag.Title = "Forgot Password Confirmation";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="text-right">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            من فضلك افتح حسابك الالكتروني لإعادة ادخال رقم سري جديد.
        </p>
    </div>

</div>