@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="text-right">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <h3>
            تم تغيير الباسورد قم بتسجيل الدخول  @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </h3>
    </div>
</div>