@model IEnumerable<Graduation_Project.Models.CenterAchievement>

@{
    ViewBag.Title = "University Decision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- start university decision   -->
<div class="register-form ">
    <div class="container">
        <div class="row">
            <div class="title wow jackInTheBox">
                القرارات الجامعية
            </div>
            @foreach (var item in Model)
            {
                <div class="card  wow fadeInRight col-sm-12">
                    <div class="card-header">
                        @item.Label
                    </div>
                    <div class="card-body">
                        <p>@item.Text</p>
                    </div>
                </div>
            }

        </div>

    </div>
</div>

<!--End university decision  -->