@{
    ViewBag.Title = "FindApp";
}
<div class="text-right">
    <br />
    <div class="bg-light">
        <br />
        <h2 class="text-center">متابعة الطلب</h2>
        <hr />
    </div>
    @using (Html.BeginForm("FindUser", "Course", FormMethod.Get))
    {
        <div class="row">
            <div class="col-sm-12">
                @Html.Label("الكود الخاص بالتسجيل", htmlAttributes: new { @class = "control-label font-weight-bold" })
                @Html.TextBox("search", null, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <input class="btn btn-primary" type="submit" name="submit" value="بحث" />
    }
</div>