
@{
    ViewBag.Title = "ProgramMatrix";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-right">
    <br />
    <div class="bg-light">
        <br />
        <h2 class="text-center">مصفوفة البرامج الخاصة بالمركز</h2>
        <hr />
    </div>
    <a class="btn btn-info" href="~/ProgramPdfFiles/ProgramMatrix/1.pdf" target="_blank"> تحميل مصفوفة البرامج </a>
    <br />
    <br />

</div>


