@model Graduation_Project.Models.CenterRule

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="text-right">
    <br />
    <h2>التفاصيل</h2>
    <hr />
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Text)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Text)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("تعديل", "Edit", new { id = Model.CenterRuleId }, new { @class = "btn btn-warning" })
        @Html.ActionLink("الرجوع الى القائمة", "Index", null, new { @class = "btn btn-outline-info" })
    </p>
    <br />
</div>