@model IEnumerable<Graduation_Project.Models.AboutCenter>

@{
    ViewBag.Title = "Vission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="text-right">
    @foreach (var item in Model)
    {
        if (item.code == 1)
        {
            <div class="bg-info text-white p-3 m-3 rounded">
                <h3>الرؤية</h3>
                <p>@item.Text</p>
            </div>
        }
        else if (item.code == 2)
        {
            <div class="bg-light p-3 m-3 rounded">
                <h3>الرسالة</h3>
                <p>@item.Text</p>
            </div>
        }
        else if (item.code == 3)
        {
            <div class="bg-success text-white  p-3 m-3 rounded">
                <h3>الأهداف</h3>
                <p>@item.Text</p>
            </div>
        }

    }
</div>