$primary-color-dark: #9D343E;
$primary-color: #009688;
$primary-color-light: #B2DFDB;
$primary-color-text: #FFFFFF;
$accent-color: #00BCD4;
$primary-text-color: linear-gradient(90deg, rgba(41, 41, 42, 1) 0%, rgba(121, 9, 22, 1) 0%, rgba(156, 20, 36, 1) 0%, rgba(191, 30, 49, 1) 0%, rgba(217, 38, 59, 1) 44%);
$secondary-text-color: #757575;
$divider-color: #BDBDBD;